
/*
≥ı º
*/
.stugroup{
    width: 200px;
    margin-left: 200px;
}
th{
    text-align: center;
}
li a:hover{
    color:   #ADADAD;
    text-decoration:none;
}

li a{
    color: #5B5B5B;
}

.breadTab{
    width: 1080px;
    margin-bottom: 0px;
    height:36px;
}

.div_title_middle {
    background-color: gray;
    width: 300px;
    height: 20px;
    opacity: 0.5;
    border-radius: 5px;
}

.div_title_final {
    background-color: gray;
    width: 300px;
    height: 20px;
    opacity: 0.5;
    border-radius: 5px;
}