<!DOCTYPE html>
<html>
<head>
   <title>课程</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
   <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
   <script src="/CPS/Student/Public/js/global.js"></script>
   <link href="/CPS/Student/Public/css/style.css" rel="stylesheet">
</head>
<body>
    <include file="Home/View/Header/header.html"/>
    <include file="Tab:tab_student"/>
	<div style="width: 1080px; margin: 0 auto">
		<table class="table table-bordered table table-striped text-center">
				<thead>
					<tr>
						<th>课程名称</th>
						<th>课程ID</th>
						<th>课题名称</th>
						<th>课题ID</th>
						<th>指导教师</th>
						<th>队伍ID</th>
						<th>队员</th>
						<th>详情</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
			<tbody id="collapse">
			<foreach name="projectInfo" item="v">
				<tr>
					<td>{$v.course_name}</td>
					<td>{$v.course_id}</td>
					<td>{$v.project_name}</td>
					<td>{$v.project_id}</td>
					<td>{$v.teacher_id}</td>
					<td>{$v.group_id}</td>
					<td>
						<foreach name="v.students" item="h">
			              {$h.student_id}-{$h.student_name}<br/>
			            </foreach>
					</td>
					<td>
						<a href="__URL__/project_file_download?course_name={$v.course_name}&project_name={$v.project_name}">查看</a>
					</td>
					<if condition="$v.group_project_status eq 0">
						<td>
							 <p style="color: red;">拒绝</p>
						</td>
						<td>
							 <a href="#">
							 	<button type="button" class="btn btn-info disabled">查看报告</button>
							 </a>
						</td>
					<elseif condition="$v.group_project_status eq 1"/>
						<td>
							 <p style="color: blue;">待审核</p>
						</td>
						<td>
							 <a href="#">
							 	<button type="button" class="btn btn-info disabled">查看报告</button>
							 </a>
						</td>
					<else/>
						<td>
							 <p style="color: green;">已通过</p>
						</td>
						<td>
							 <a href="{$projectInfo_url}/project_id/{$v.project_id}">
							 	<button type="button" class="btn btn-info">查看报告</button>
							 </a>
						</td>
					</if>
				</tr>

				</foreach>
			</tbody>
		</table>
	</div>
</body>
</html>
