<!DOCTYPE html>
<html>
<head>
   <title>课程</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
   <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
   <script src="/CPS/Student/Public/js/global.js"></script>
   <link href="/CPS/Student/Public/css/style.css" rel="stylesheet">
</head>
<body>
    <include file="Home/View/Header/header.html"/>
    <include file="Tab:tab_student"/>
    <div style="width: 1080px; margin: 0 auto">
        <table class="table table-bordered table table-striped text-center">
           <thead>
              <tr>
                 <th>课程名称</th>
                 <th>课程ID</th>
                 <th>课题名称</th>
                 <th>课题ID</th>
                 <th>指导教师</th>
                 <th>课题详情</th>
                 <th>操作</th>
              </tr>
           </thead>
           <tbody>
           <foreach name="info" item="v">
              <tr>
                 <td>{$v.course_name}</td>
                 <td>{$v.course_id}</td>
                 <td>{$v.project_name}</td>
                  <td>{$v.project_id}</td>
                 <td>{$v.teacher_id}</td>
                 <td>
                   <a href="__URL__/project_file_download?course_name={$v.course_name}&project_name={$v.project_name}">查看</a>
                 </td>
                 <td>
                  <if condition="$is_exist_project eq 0">
                    <a href="{$apply_project}/course_name/{$v.course_name}/project_name/{$v.project_name}/project_id/{$v.project_id}"><button class="btn btn-info">申请</button></a>
                  <else/>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#apply_already">申请</button>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="apply_already" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                       <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                   <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">
                                      &times;
                                   </button>
                                   <h4 class="modal-title" id="myModalLabel3">
                                   申请失败
                                   </h4>
                                </div>
                             <div class="modal-body">
                              <div style="width: 200px;margin: 0 auto">
                                <h3 style="color: red">您已有学生组申请过此课题</h3>  
                              </div>
                             </div>
                          </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                  </div>
                  </if>
                 </td>
              </tr>
            </foreach>
           </tbody>
        </table>
    </div>
</body>
</html>
