<!DOCTYPE html>
<html>
<head>
   <title>课程</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
   <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
   <script src="/CPS/Student/Public/js/global.js"></script>
   <link href="/CPS/Student/Public/css/style.css" rel="stylesheet">
</head>
<body>
    <include file="Home/View/Header/header.html"/>
    <include file="Tab:tab_student"/>
        	<div style="width: 1080px; margin: 0 auto">
            <table class="table table-bordered table table-striped text-center">
           <thead>
              <tr>
                 <th>队伍ID</th>
                 <th>队员</th>
                 <th>申请状态</th>
                 <th>队伍操作</th>
              </tr>
           </thead>
           <tbody>
           <foreach name="team" item="v">
              <tr>
                 <td name="group_id">
                     {$v.group_id}
                 </td>
                 <td>
                     <foreach name="v.students" item="h">
                        {$h.student_id}-{$h.student_name}<br/>
                     </foreach>
                 </td>
                 <td>
                   {$v.group_project_status}
                 </td>
                 <td>
                  <foreach name="v.Leader" item="h">
                    <if condition="$h.student_id eq $session_id">
                       <a href="{$Manage_url}/group_id/{$v.group_id}">
                          <button type="button" class="btn btn-info {$button_disabled}">管理</button>
                       </a>
                      <else/>
                        <a href="#">
                          <button type="button" class="btn btn-info disabled">管理</button>
                        </a>
                    </if>
                  </foreach>
                    
                 </td>
              </tr>
            </foreach>
           </tbody>
          </table>
        </div>
        <div class="create-btn">
          <a href="{$teamManage_url}/teamCreate/1"><button class="btn btn-info">创建队伍</button></a>
        </div>
        <div class="create-btn">
        <!--  <button class="btn btn-info" data-toggle="modal" data-target="#myModa">创建队伍</button>
         <!-- 模态框（Modal） -->
             <div class="modal fade" id="myModa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                       <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">
                                          &times;
                                       </button>
                                       <h4 class="modal-title" id="myModalLabel">
                                       邀请队员
                                       </h4>
                                    </div>
                                 <div class="modal-body">
                                     <!--<h5>学生姓名</h5>-->
                                     <!--<input type="text"/>-->
                                     <form action="{$teamManage_url}" method="post" enctype="multipart/form-data">
                                     <h5>学生学号</h5>
                                     <input type="text" name="student_id"/>
                                     <input type="submit" class="btn btn-info" style="margin-left: 25px; margin-top: 5px;" value="邀请">
                                     </form>
                                 </div>
                              </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                 </div>
        </div>
</body>
</html>
