<!DOCTYPE html>
<html>
<head>
   <title>管理员</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
   <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
   <script src="/CPS/Manager/Public/js/global.js"></script>
   <link href="/CPS/Manager/Public/css/style.css" rel="stylesheet">
</head>
<body>
    <include file="Home/View/Header/header.html"/>
    <include file="Tab:tab_file"/>
  	<div style="width: 1080px; margin: 0 auto">
    	<table class="table table-bordered table-striped text-center">
       <thead>
          <tr>
             <th>课程名称</th>
             <th>课程内容</th>
             <th>文件配置信息</th>
          </tr>
       </thead>
       <tbody>
       <foreach name="course_info" item="v">
         <tr>
             <td>
             {$v.course_name}
             <input type="hidden" value="{$v.course_id}">
             </td>
             <td>
               {$v.course_detail_info}
             </td>
             <td>
              <p>
                <a href="{$course_file_conf_url}/course_id/{$v.course_id}/course_name/{$v.course_name}"><button type="button" class="btn btn-success" name="button" style="margin-bottom: 30px;">课程文件配置</button></a>
              </p>
              <p>
                <a href="{$check_file_conf_url}/course_id/{$v.course_id}"><button type="button" class="btn btn-info" name="button" style="margin-bottom: 30px;">查看文件配置</button></a>
              </p>
             </td>
         </tr>
         </foreach>
       </tbody>
    	</table>
  </div>
</body>
</html>
