<!DOCTYPE html>
<html>
<head>
   <title>管理员</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
   <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
   <script src="/CPS/Manager/Public/js/global.js"></script>
   <link href="/CPS/Manager/Public/css/style.css" rel="stylesheet">
</head>
<body>
    <include file="Home/View/Header/header.html"/>
    <include file="Tab:tab_manager"/>
  	<div style="width: 1080px; margin: 0 auto">
  	<table class="table table-bordered table-striped text-center">
     <thead>
        <tr>
           <th>课程名称</th>
           <th>课程内容</th>
           <th>更改答辩组</th>
        </tr>
     </thead>
     <tbody>
       <tr>
         <td>综合课程设计一</td>
         <td>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nesciunt ipsam architecto, similique vitae cumque odio eaque quas ut, adipisci quam iusto dolor maiores debitis et laudantium. Consequatur, non, obcaecati?</p>
           <p><a href="#">详情</a></p>
         </td>
         <td>
           <a href="./edit_group.html"><button class="btn btn-info" type="button">编辑</button></a>
         </td>
       </tr>
     <!-- <foreach name="info" item="v">
        <tr>
           <td>{$v.course_name}</td>
           <td>{$v.course_id}</td>
           <td>
           	<p>{$v.course_detail_info}</p>
           </td>
           <td>
           	<a href="{$query_url}/course_id/{$v.course_id}"><button type="button" class="btn btn-info">查看</button></a>
           </td>
        </tr>
     </foreach> -->
     </tbody>
  	</table>
  </div>
</body>
</html>
