<!DOCTYPE html>
<html>
<head>
   <title>管理员</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
   <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
   <script src="/CPS/Manager/Public/js/global.js"></script>
   <link href="/CPS/Manager/Public/css/style.css" rel="stylesheet">
</head>
<body>
    <include file="Home/View/Header/header.html"/>
    <include file="Tab:tab_file_conf"/>
  	<div style="width: 1080px; margin: 0 auto">
    <foreach name="file_info" item="v">
      <div class="div_title_middle">
        <h4>{$v.file_type_name}</h4>
      </div>

      <table class="table table-bordered table-striped text-center">
       <thead>
          <tr>
             <th>截止日期</th>
             <th>文件类型</th>
             <th>限制大小(MB)</th>
          </tr>
       </thead>
       <tbody>
         <tr>
           <td>
           {$v.file_deadline}
           </td>
           <td>{$v.allowed_suffix_list}</td>
           <td>{$v.allowed_max_size}</td>
         </tr>
       </tbody>
      </table>
      <a href="{$edit_file_url}/file_type_name/{$v.file_type_name}/course_id/{$course_id}/file_type_id/{$v.file_type_id}">
        <button type="button" class="btn btn-info">编辑文件</button>
      </a>
    </foreach>
  </div>

</body>
</html>
