<!DOCTYPE html>
<html>
<head>
 <title>教授</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
 <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
 <script src="/CPS/Teacher/Public/js/global.js"></script>
 <link href="/CPS/Teacher/Public/css/style.css" rel="stylesheet">
</head>
<body>
  <include file="Home/View/Header/header.html"/>
  <include file="Tab:tab_myProject"/>
  <div style="width: 1080px; margin: 0 auto">
    <table class="table table-bordered table-striped text-center">
     <thead>
      <tr>
       <th>课程名称</th>
       <th>课题ID</th>
       <th>课题名称</th>
       <th>主要任务内容</th>
       <th>预期成果形式</th>
       <th>预期成果目标</th>
       <th>附近</th>
       <th>评分</th>
       <th>操作</th>
       <th>状态</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>基于。。。</td>
       <td>2323</td>
       <td>。。。</td>
       <td>。。。</td>
       <td>。。。</td>
       <td>
          <a href="#">详情</a>
       </td>
       <td>90</td>
       <td>xxxxx</td>
       <td>已通过</td>
       <td>
        <a href="{$stuGroup_url}"><button type="button" class="btn btn-success">学生组</button></a>
        <a href="{$project_configure_url}"><button type="button" class="btn btn-info">配置课题</button></a>
      </td>
    </tr>
   </tbody>
 </table>
</div>
</body>
</html>
