<!DOCTYPE html>
<html>
<head>
 <title>教授</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
 <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
 <script src="/CPS/Teacher/Public/js/global.js"></script>
 <link href="/CPS/Teacher/Public/css/style.css" rel="stylesheet">
</head>
<body>
  <include file="Home/View/Header/header.html"/>
  <include file="Tab:tab_myProject"/>
  <div style="width: 1080px; margin: 0 auto">
    <table class="table table-bordered table-striped text-center">
     <thead>
      <tr>
       <th>课程名称</th>
       <th>课题ID</th>
       <th>课题名称</th>
       <th>主要任务内容</th>
       <th>预期成果形式</th>
       <th>预期成果目标</th>
       <th>评分</th>
       <th>评论</th>
       <th>状态</th>
       <th>操作</th>
     </tr>
   </thead>
   <tbody>
    <foreach name="project_info" item="v">
       <tr>
         <td>{$v.course_name}</td>
         <td>{$v.project_id}</td>
         <td>{$v.project_name}</td>
         <td>{$v.main_project}</td>
         <td>{$v.final_expected_context}</td>
         <td>
            {$v.final_expected_result}<br>
         </td>
         <td>{$v.review_score}</td>
         <td>{$v.review_context}</td>
           <if condition="$v.project_status eq 0">
            <td>
              <p style="color: red">拒绝</p>
            </td>
            <td>
              <button type="button" class="btn btn-success disabled">学生组</button>
              <button type="button" class="btn btn-info disabled">配置课题</button>
            </td>
           <elseif condition="$v.project_status eq 1"/>
            <td>
              <p style="color: blue">待审核</p>
            </td>
            <td>
              <button type="button" class="btn btn-success disabled">学生组</button>
              <button type="button" class="btn btn-info disabled">配置课题</button>
            </td>
           <else/>
            <td>
              <p style="color: green">已通过</p>
            </td>
            <td>
              <a href="{$stuGroup_url}/project_id/{$v.project_id}"><button type="button" class="btn btn-success">学生组</button></a>
              <a href="{$project_configure_url}/project_id/{$v.project_id}"><button type="button" class="btn btn-info">配置课题</button></a>
            </td>
           </if>
       </tr>
    </foreach>
   </tbody>
 </table>
</div>
</body>
</html>
