<!DOCTYPE html>
<html>
<head>
 <title>教授</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
 <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
 <script src="/CPS/Teacher/Public/js/global.js"></script>
 <link href="/CPS/Teacher/Public/css/style.css" rel="stylesheet">
</head>
<body>
  <include file="Home/View/Header/header.html"/>
  <include file="Tab:tab_stuGroup"/>
  <div style="width: 1080px; margin: 0 auto">
    <table class="table table-bordered table-striped text-center">
     <thead>
      <tr>
       <th>课程名称</th>
       <th>课题ID</th>
       <th>课题名称</th>
       <th>状态</th>
     </tr>
   </thead>
   <tbody>
    <foreach name="project_info" item="v">
      <tr>
         <td>{$v.course_name}</td>
         <td>{$v.project_id}</td>
         <td>{$v.project_name}</td>
         <if condition="$v.project_status eq 0">
            <td>
              <p style="color: red">拒绝</p>
            </td>
           <elseif condition="$v.project_status eq 1"/>
            <td>
              <p style="color: blue">待审核</p>
            </td>
           <else/>
            <td>
              <p style="color: green">已通过</p>
            </td>
           </if>
      </tr>
    </foreach>
   </tbody>
 </table>
</div>
<div style="width: 1080px; margin: 0 auto">
    <table class="table table-bordered table-striped text-center">
     <thead>
      <tr>
       <th>学生组ID</th>
       <th>学生组成员</th>
       <th>操作</th>
     </tr>
   </thead>
   <tbody>
    <foreach name="project_stu_group" item="h">
       <tr>
         <td>{$h.group_id}</td>
         <td>
            <foreach name="h.stu_group_members" item="m">
              {$m.student_id}-{$m.student_name}<br>
            </foreach>
         </td>
         <td>
          <a href="{$stuGroup_report_url}"><button type="button" class="btn btn-success">管理</button></a>
         </td>
       </tr>
    </foreach>
   </tbody>
 </table>
</div>
</body>
</html>
