<!DOCTYPE html>
<html>
<head>
   <title>管理员</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
   <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
   <script src="/CPS/Teacher/Public/js/global.js"></script>
   <link href="/CPS/Teacher/Public/css/style.css" rel="stylesheet">
</head>
<body>
    <include file="Home/View/Header/header.html"/>
    <include file="Tab:tab_group"/>
    <div style="width: 1080px; margin: 0 auto">
      <table class="table table-bordered table-striped text-center">
     <thead>
        <tr>
           <th>答辩组成员</th>
           <th>学生组ID</th>
           <th>学生组成员</th>
           <th>课题名称</th>
        </tr>
     </thead>
     <tbody>
       <tr>
         <td>14143-xxx</td>
         <td>
           123124
         </td>
         <td>
           162434-xx<br>
           162434-xx<br>
           141243-xx
         </td>
         <td>
           沙发上地方地方
         </td>
       </tr>
     </tbody>
    </table>
    </div>
</body>
</html>
