<!DOCTYPE html>
<html>
<head>
 <title>教授</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
 <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
 <script src="/CPS/Teacher/Public/js/global.js"></script>
 <link href="/CPS/Teacher/Public/css/style.css" rel="stylesheet">
</head>
<body>
  <include file="Home/View/Header/header.html"/>
  <include file="Tab:tab_replyTask"/>
  <div style="width: 1080px; margin: 0 auto">
    <table class="table table-bordered table-striped text-center">
     <thead>
      <tr>
       <th>答辩组ID</th>
       <th>答辩组成员</th>
       <th>学生组ID</th>
       <th>学生组成员</th>
       <th>课题名称</th>
     </tr>
   </thead>
   <tbody>
    <foreach name="reply_member_task_info" item="v">
     <tr>
       <td>{$v.reply_group_id}</td>
       <td>{$v.teacher_id}-{$v.teacher_name}</td>
       <td>
         {$v.allocated_stugroup_id}
       </td>
       <td>
        <foreach name="v.stu_groupMember" item="m">
         {$m.student_id}-{$m.student_name}<br>
        </foreach>
       </td>
       <td>
        <foreach name="v.project_info" item="h">
          {$h.project_name}
        </foreach>
       </td>
     </tr>
    </foreach>
   </tbody>
 </table>
</div>
</body>
</html>
