<!DOCTYPE html>
<html>
<head>
 <title>教授</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script src="/CPS/Public/bootstrap/js/jquery.min.js"></script>
 <link href="/CPS/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="/CPS/Public/bootstrap/js/bootstrap.min.js"></script>
 <script src="/CPS/Teacher/Public/js/global.js"></script>
 <link href="/CPS/Teacher/Public/css/style.css" rel="stylesheet">
</head>
<body>
  <include file="Home/View/Header/header.html"/>
  <include file="Tab:tab_stuGroupReport"/>
  <div style="width: 1080px; margin: 0 auto">
      <table class="table table-bordered table-striped text-center">
       <thead>
        <tr>
         <th>报告类型</th>
         <th>学生组ID</th>
         <th>学生组成员</th>
         <th>截止日期</th>
         <th>评分</th>
         <th>评论</th>
         <th>评审操作</th>
         <th>操作</th>
       </tr>
     </thead>
     <tbody>
      <foreach name="stu_group_info" item="v">
        <if condition="$v.file_type_name eq '期中报告'">
          <tr>
           <td>{$v.file_type_name}</td>
           <td>{$v.group_id}</td>
           <td>
            <foreach name="v.stu_members" item="h">
                {$h.student_id}-{$h.student_name}<br>
            </foreach>
           </td>
           <td>{$v.file_deadline}</td>
           <if condition="($v.group_middle_report_score eq '') or ($v.group_middle_report_context eq '')">
             <td>--</td>
             <td>--</td>
             <td>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModa1{$v.file_type_name}">评审</button>
             </td>
           <else/>
              <td>{$v.group_middle_report_score}</td>
              <td>{$v.group_middle_report_context}</td>
              <td>
               <button type="button" class="btn btn-info disabled"">评审</button>
              </td>
           </if>
           <td>
            <a href="__URL__/stu_group_file_download?student_id={$h.student_id}&stu_group_id={$v.group_id}&file_type_name={$v.file_type_name}"><button type="button" class="btn btn-success">查看报告</button></a>
           </td>
          </tr>
        <else/>
          <tr>
           <td>{$v.file_type_name}</td>
           <td>{$v.group_id}</td>
           <td>
            <foreach name="v.stu_members" item="h">
                {$h.student_id}-{$h.student_name}<br>
            </foreach>
           </td>
           <td>{$v.file_deadline}</td>
            <if condition="($v.group_final_report_score eq '') or ($v.group_final_report_context eq '')">
             <td>--</td>
             <td>--</td>
             <td>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModa1{$v.file_type_name}">评审</button>
             </td>
           <else/>
              <td>{$v.group_final_report_score}</td>
              <td>{$v.group_final_report_context}</td>
              <td>
               <button type="button" class="btn btn-info disabled">评审</button>
              </td>
           </if>
           <td>
            <a href="__URL__/stu_group_file_download?student_id={$h.student_id}&stu_group_id={$v.group_id}&file_type_name={$v.file_type_name}"><button type="button" class="btn btn-success">查看报告</button></a>
           </td>
          </tr>
        </if>
        <!-- 模态框（Modal） -->
          <div class="modal fade" id="myModa1{$v.file_type_name}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">
                            &times;
                         </button>
                         <h4 class="modal-title" id="myModalLabel3">
                         评审课题
                         </h4>
                      </div>
                   <div class="modal-body">
                    <div style="width: 200px;height:260px;margin: 0 auto">
                          <form action="{$stuGroup_report_url}" method="post" enctype="multipart/form-data"> 
                           <input type="hidden" name="stu_group_id" value="{$stu_group_id}">
                           <input type="hidden" name="middle_or_final" value="{$v.file_type_name}">
                           <h5 style="text-align: left;">评分</h5>
                           <input type="text" name="{$v.file_type_name}_review_score" class="form-control" placeholder="请输入评分" />
                            <h5 style="text-align: left;">评论</h5>
                            <textarea name="{$v.file_type_name}_review_context"  class="form-control" rows="4" placeholder="请输入评语"></textarea>
                           <br>
                           <button class="btn btn-info" style="margin-left: 0px;" type="submit">提交</button>
                           </form>
                      </div>
                   </div>
                </div><!-- /.modal-content -->
          </div><!-- /.modal -->
        </div>
      </foreach>
     </tbody>
   </table>
  </div>
</body>
</html>
